
<form action="" method="POST">

    <h3>Registration</h3>
    <hr>
    <br>

    <br><br>
    <label>Name</label>
    <input type="text" name="Name" class="form-control" placeholder="Enter Your Name">

    <br><br>
    <label>Email</label>
    <input type="text" name="Email" class="form-control" placeholder="Enter your Email">

    <br><br>

    <label>Password</label>
    <input type="password" name="Password" class="form-control" placeholder="Enter Password">

    <br><br>
    <label>Location</label>
    <input type="text" name="Location" class="form-control" placeholder="Enter your Location">


    <br><br>
    <label for="exampleFormControlSelect1">Account Type</label>
    <select class="form-control" name="Type">
        <option>Restaurant</option>
        <option>Employee</option>
    </select>

    <input type="submit" value="Register" class="btn btn-success" /><br />

</form>
